
<div class="container login">
			<div class="row align-items-center">
			<div class="col-8"><span>Best PingPong is where you can set Pingpong game plans with other players.</span>
				<br>
				<ul>
					<li>Esay arrangement, easy games.</li>
					<li>Any stadiums, auto match up.</li>
				</ul>
			</div>
			<div class="col-4">
				
						
						<a href="/users/login"><button type="button" class="btn btn-primary">Login</button></a>
						<a href="/users/register"><button type="button" class="btn btn-primary">Sign Up</button></a>
					
					
				
			</div>
			</div>
</div>	