</header>
		<div id=wrapper>
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="list-group-item list-group-item-info"><a href="/users/welcome">Profile</a></li>
				<li class="list-group-item list-group-item-info"><a href="/users/mygame">My Games</a></li>
				<li class="list-group-item list-group-item-info"><a href="/users/startgame">Start a Game</a></li>
			</ul>
		</div>
			<div id="page-content-wrapper">
				<div class="container-fluid">
					<div class="row align-items-center">
					<div class="col-12">

						<h1>
							Join a game!
						</h1>
						<br>
						<br>
						<br>
						<br>
						<br>


						
					<div class="row justify-content-end">
							<div class="col-2">
							</div>

							<div class="col-6">
								
								<form>
								<legend>Choose your preferences:</legend>  	
								<div class="form-group row">
    <label for="joinname1" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" value="sgfg" id="joinname1">
    </div>
  </div>		        
  <div class="form-group row">
    <label for="joinve1" class="col-sm-2 col-form-label">Venue</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" value="sgfg" id="joinve1">
    </div>
  </div>
  <div class="form-group row">
    <label for="joindesc1" class="col-sm-2 col-form-label">description</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" value="sgfg" id="joindesc1">
    </div>
  </div>
  <div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="Checkbox1" value="option1">
  <label class="form-check-label" for="Checkbox1">time slot1</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="Checkbox2" value="option2">
  <label class="form-check-label" for="Checkbox2">time slot2</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="Checkbox3" value="option3">
  <label class="form-check-label" for="Checkbox3">time slot3</label>
</div>

<div>
 	<br><input class="btn btn-primary" type="submit" value="submit" id="joinsubmit">
</div>
 						   
 			         
 			  </form>
							</div>

							<div class="col-4">
							
							</div>

					</div>
						
					</div>
					</div>
				</div>				
			</div>
		
		</div>