<div class="container login">
			<div class="row align-items-center">
			<div class="col-8"><span>Best PingPong is where you can set Pingpong game plans with other players.</span>
				<br>
				<ul>
					<li>Esay arrangement, easy games.</li>
					<li>Any stadiums, auto match up.</li>
				</ul>
			</div>
			<div class="col-4">
				<form id="login_form" action="/users/login" method='post'>
					<fieldset>
						<legend>Please login in:</legend>
						Account:<br>
						<input type="text" name="username" id="indexacco">
						<br>
						Password:<br>
						<input type="password" name="password" id="indexpass">
						<br><br>
						<input class="btn btn-primary" type="submit" value="Login" id="indexlogin">
					</fieldset>
				</form>
						
						<a href="#">Forget password</a>
						<br>
						<a href="/users/register">Sign up</a>
					
					
				
			</div>
			</div>
		</div>	