<div id=wrapper>
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="list-group-item list-group-item-info"><a href="/users/welcome">Profile</a></li>
				<li class="list-group-item list-group-item-info"><a href="/users/mygame">My Games</a></li>
				<li class="list-group-item list-group-item-info"><a href="/users/startgame">Start a Game</a></li>
			</ul>
		</div>
			<div id="page-content-wrapper">
				<div class="container-fluid">
					<div class="row align-items-center">
					<div class="col-12">

						<h1>
							Games
						</h1>
						<br>
						<br>
						<br>
						<br>
						<br>


						
					<div class="row justify-content-end">
							<div class="col-2">
							</div>

							<div class="col-6">
<table class="table">
  <thead>
    <tr>

      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">Date</th>
      <th scope="col">time</th>
      <th scope="col">venue</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" id="mynum1">1</th>
      <td id="myname1">1111</td>
      <td id="mydate1">1,Jun</td>
      <td id="mytime1">1pm</td>
      <td id="myve1">UWA</td>
    </tr>
    <tr>
      <th scope="row" id="mynum2">2</th>
      <td id="myname2">2222</td>
      <td id="mydate2">2,June</td>
      <td id="mytime2">10am</td>
      <td id="myve2">Crawley</td>
    </tr>
    <tr>
      <th scope="row" id="mynum3">3</th>
      <td id="myname3">333</td>
      <td id="mydate3">5,July</td>
      <td id="mytime3">11am</td>
      <td id="myve3">City</td>
    </tr>
    <tr>
      <td><a href="/users/joingame"><button type="button" class="btn btn-primary" id="myjoin">join a Game</button></a></td>
    </tr>
  </tbody>
</table>
							</div>

							<div class="col-4">
							
							</div>

					</div>
						
					</div>
					</div>
				</div>				
			</div>
		
		</div>