   <div id=wrapper>
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="list-group-item list-group-item-info"><a href="/users/welcome">Profile</a></li>
				<li class="list-group-item list-group-item-info"><a href="/users/mygame">My Games</a></li>
				<li class="list-group-item list-group-item-info"><a href="/users/startgame">Start a Game</a></li>
			</ul>
		</div>
		<div id="page-content-wrapper">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-12">

						<h1>
							Welcome!
						</h1>
						<br>
						<br>
						<br>
						<br>
						<br>


						
					<div class="row justify-content-end">
							<div class="col-2">
							</div>

							<div class="col-6">
							<table class="table table-borderless">

							  <tbody>
							    <tr>
							      <th scope="row">Account Name:</th>
							      <td id="welaccount">Mark</td>

							    </tr>
							    <tr>
							      <th scope="row">Email Address:</th>
							      <td id="welemail">5010151@student.uwa.edu.au</td>
							    </tr>
							    <tr>
							      <th scope="row">Age</th>
							      <td id="welage">55</td>
							    </tr>
							    <tr>
							      <th scope="row">Gender</th>
							      <td id="welgender">Male</td>
							    </tr>
							    <tr>
							      <th><a href="/users/edit"><button type="button" class="btn btn-primary" id="weledit">Edit</button></a></th>
							    </tr>
							  </tbody>
							</table>
							</div>

							<div class="col-4">
														
							</div>

					</div>
						
					</div>
				</div>
			</div>				
		</div>
		
	</div>